{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
  
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>To Do List. 4U!</h1>
                 <br>
                 <br>
               
            <h5>Life is fun. And also life is extremely busy.</h5> 
            <p>Choose from what's <strong>important</strong>, what it represents a <strong>priority</strong></p>
            <p>And the rest of things that <b><i></i>need to be done!</i></b></p>
         <p>This <b> To Do List App by <i>StefanoS</i></b> is build to help you put your life in order.</p>
         <h6>Using the To Do List App will make you a more organized and disciplined person.</h6>  
           <br>
        <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'signupuser' %}">START</a>
        </div>
    </div>

{% endblock %}